In [ ]:

"""A loop statement allows us to execute a statement or group of statement multiple times.

 2 types of loop--- for loop,while loop
 
 ---------for loop-------
 
 for variable_name in range(start,stop+ 1,Step):
               statements
 
 for i in [1,2,....n]:
 
 ---------range---------
 
 range(0,n) generates sequence 0,1,2.....n-1
 
 -----------while loop--------
 
 while(condition):
        statements
        updation"""

In [ ]:
#when we know what value increasing or decreamenting then we use for loop
#when we don't know what value increasing or decreamenting then we use while loop ,we more consuse about condition

In [ ]:
#in inbuild keyword
for i in [1,2,3,4,5]:
        print(i)

In [9]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [8]:
i=4
for i in range(i):
    print(i)

0
1
2
3

In [ ]:
for i in range(1,10,3):
    print(i)

In [ ]:
for i in range(10,1,-1):
    print(i)

In [ ]:
for i in range(10,1,-2):
    print(i)

In [ ]:
for i in range(i):
    print(i)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(5,10):
    print(i)

In [ ]:
for i in range(10,1,-2):
    print(i)

In [2]:
""""i=1
while(i<=5):
    print(i)
    infinite loop"""

'"i=1\nwhile(i<=5):\n    print(i)'

In [1]:
i=1
while(i<=5):
    print(i)
    i=i+1

1
2
3
4
5

In [3]:
for i in [1,2,3,4,5,6]:
    print(i)

1
2
3
4
5
6

In [4]:

for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [5]:
#default start 0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(10,1):
    print(i)

In [8]:
for i in range(10,1,-9):
    print(i)

10

In [2]:
#wap to print my name 10 times
for sweety in range(1,11):
    print("sweety")

sweety
sweety
sweety
sweety
sweety
sweety
sweety
sweety
sweety
sweety

In [3]:
for sweety in range(1,11):
    print(sweety)

1
2
3
4
5
6
7
8
9
10

In [4]:
i=1
while(i<=10):
    print("sweety")
    i=i+1

sweety
sweety
sweety
sweety
sweety
sweety
sweety
sweety
sweety
sweety

In [7]:
i=10
while(i<15):
    print("sweety")
    i+=1

sweety
sweety
sweety
sweety
sweety

In [8]:
for i in ["sweety","sweety","sweety","sweety","sweety"]:
    print(i)

sweety
sweety
sweety
sweety
sweety

In [1]:
#wap to print 1st n natural no

a=int(input("enter any range"))
for i in range(1,a+1):
    print(i)

#another way

a=int(input("enter any range"))
i=1
while(i<=a):
    print(i)
    i=i+1

enter any range10
1
2
3
4
5
6
7
8
9
10
enter any range10
1
2
3
4
5
6
7
8
9
10

In [2]:
#wap to print 1st  n odd natural no

x=int(input("enter any range"))
for i in range(1,x+1,2):
    print(i)

enter any range10
1
3
5
7
9

In [3]:
#wap to print 1st  n even natural no

x=int(input("enter any range"))
for i in range(2,x+1,2):
    print(i)

enter any range10
2
4
6
8
10

In [6]:
#wap to print 1st n natural no and give their sum

n=int(input("enter the range"))
s=0
for i in range(1,n+1):
    print(i)
    s=s+i
print("sum of n natural no=",s)

enter the range5
1
2
3
4
5
sum of n natural no= 15

In [8]:
#wap to print 1st n even no and give their sum,s=2+4+6+...+n

n=int(input("enter the range"))
s=0
for i in range(2,n+1,2):
    print(i)
    s=s+i
print("sum of n natural no=",s)

enter the range10
2
4
6
8
10
sum of n natural no= 30

In [9]:
#wap to print 1st n odd no and give their sum,s=1+3+5+...n

n=int(input("enter the range"))
s=0
for i in range(1,n+1,2):
    print(i)
    s=s+i
print("sum of n natural no=",s)

enter the range10
1
3
5
7
9
sum of n natural no= 25

In [14]:
#wap to print factorial of a no. 4!=1x2x3x4=24

n=int(input("enter a no="))
s=1
for i in range(1,n+1):
    print(i)
    s=s*i
print("factorial of given no=",s)

enter a no=4
1
2
3
4
factorial of given no= 24

In [1]:
#using while loop
#wap to print factorial of a no. 4!=1x2x3x4=24

n=int(input("enter a no="))
s=1
i=1
if n<0:
    print("factorial for any negative no not possible")
elif n==0:
    print("factorial of 0 is 1")
else:
    while(i<=n):
        print(i)
        
        s=s*i
        i+=1
        
    print("factorial of given no=",s)

enter a no=-5
factorial for any negative no not possible

In [29]:
#            FOR-ELSE STATEMENT
#experiment on loop statement in python(FOR-ELSE)
#else part will work either for part work or not
#after for if i want to give any message we use this

for letter in "python":
    print("current letter",letter)
else:
    print("out of the loop")

current letter p
current letter y
current letter t
current letter h
current letter o
current letter n
out of the loop

In [30]:
#experiment on loop statement in python(FOR-ELSE)
#always else part will execute

for letter in "sweety":
    print("current letter",letter)
else:
    print("this is my name")

current letter s
current letter w
current letter e
current letter e
current letter t
current letter y
this is my name

In [32]:
# Example on  FOR-ELSE STATEMENT
#always else part will execute

for i in range(5):
    print(i)
else:
    print("hey")

0
1
2
3
4
hey

In [33]:
# Example on  FOR-ELSE STATEMENT
#always else part will execute

for i in range(1,11,10):
    print(i)
else:
    print("hey")

1
hey

In [34]:
# Example on  FOR-ELSE STATEMENT
#always else part will execute

for i in range(5,1):
    print(i)
else:
    print("hey")

hey

In [36]:
# Example on  FOR-ELSE STATEMENT
#always else part will execute

i,n=1,5
while(i<=n):
    print(i)
    i+=1
else:
    print("hey")

1
2
3
4
5
hey

In [1]:
#wap to print multiplication table

n=2
for i in range(1,n+1):
    j=1
    print("table of",i,"is as follows:")
while j<=10:
    print(i,"*",j,"=",i*j)
    j=j+1

table of 1 is as follows:
table of 2 is as follows:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [6]:
#wap to print multiplication table

n=int(input("enter a no"))
j=int(input("enter the range"))
print("table for",n,"is=")
for i in range(1,j+1):
    
    s=n*i
    print(n,"*",i,"=",s)

enter a no2
enter the range20
table for 2 is=
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

In [1]:
#wap to print multiplication table

n=int(input("enter a no"))
j=int(input("enter the range"))
c=1
while(c<=j):
    a=n*c
    print(n,"*",c,"=",a)
    c=c+1

enter a no3
enter the range10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [5]:
#BREAK AND CONTINUE STATEMENT

#break
for i in range(1,10):
    if(i==4):
        break
    else:
        print(i)

1
2
3

In [3]:
#use of break statement

for i in "sweety":
    if i=="t":
        break
    print(i)

s
w
e
e

In [6]:
#continue

for i in range(1,10):
    if(i==4):
        continue
    else:
        print(i)

1
2
3
5
6
7
8
9

In [7]:
#use of continue statement

for i in "sweety":
    if i=="t":
        continue
    print(i)

s
w
e
e
y

In [10]:
#---------------------------NESTED LOOP-------------------------------

#LOOP UNDER LOOP=NESTED LOOP
#BASICALLY THERE ARE 2 LOOPS-1.OUTER LOOP 2.INNER LOOP
#OUTER LOOP CREATES ROW=i
#INNER LOOP CREATES COLUMNS=j

In [2]:

#*
#* *
#* * *
#* * * *
#* * * * *
         



# i=row=5
# j=coloumn=5


for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
for j in range(10):
    for k in range(5):
        print(j*k)

0
0
0
0
0
0
1
2
3
4
0
2
4
6
8
0
3
6
9
12
0
4
8
12
16
0
5
10
15
20
0
6
12
18
24
0
7
14
21
28
0
8
16
24
32
0
9
18
27
36

In [ ]:
def fac(n):
    if n>1:
        return n*fac(n-1)
    else:
        return 1

a=int(input("enter any range Upto which you want to find factorial !"))

print("Do u want to continue ? ",'\n')
print("Enter : 1 To continue ","\n")
print("Enter : 2 To Stop")



choice=int(input("enter your choice : "))


for i in range(1,a+1):
 
    if choice==1:
        x=int(input("Enter the number to compute the factorial : "))

        print(fac(x),'\n')
    
    else:
        exit()

In [ ]:
def fac(n):
    if n>1:
        return n*fac(n-1)
    else:
        return 1
    
while True:    
    

    x=int(input("Enter the number to compute the factorial : "))

    print(fac(x),'\n')

    print("Do u want to continue ? ",'\n')
    print("Enter : 1 To continue ","\n")
    print("Enter : 2 To Stop")



    choice=int(input("enter your choice : "))


    

    if choice==1:
        x=int(input("Enter the number to compute the factorial : "))

        print(fac(x),'\n')

    else:
        exit()